@font-face {
  font-family: "Nerko";
  src: url("./fonts2/NerkoOne-Regular.ttf") format("truetype");
}

body {
  background-image: url("./images/sprinkles.svg");
  /*background-repeat: repeat;*/
  font-family: Verdana, sans-serif;
  color: rgb(106, 105, 128);
  text-align: center;
  padding: 0rem 4rem;
}

.bgice {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.containerall {
  position: absolute;
}

/*.maincontainer {
  margin: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: rgba(188, 185, 216, 0.8);
  border-radius: 3rem;
  padding-bottom: 5rem;
}*/

#brand {
  font-family: "Nerko";
  font-size: 6rem;
  color: rgb(120, 118, 146);
}

.button {
  background-color: rgb(253, 248, 239);
  border: none;
  color: rgb(106, 105, 128);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 4rem;
  min-width: 180px;
  height: 45px;
  font-size: 16px;
  list-style: none;
}

ul.no-bullets {
  list-style: none;
}
ul.no-bullets li {
  text-align: left;
}

.container1 {
  padding-top: 7rem;
}

.container2 {
  margin-top: 1rem;
}
.flavours {
  text-align: right;
  width: 10rem;
  line-height: 2.2rem;
}

#total {
  font-weight: lighter;
  border-radius: 2rem;
  text-align: center;
  border: solid 1px rgb(253, 248, 239);
  background-color: rgb(253, 248, 239);
}

#radiobuttons {
  padding: 15px 0;
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}

.container3 {
  padding-top: 2rem;
}
.container4 {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.conewrapper {
  width: auto;

  margin-top: 2rem;
}
.coneimg3 {
  padding-left: 3rem;
  width: 15vh;
}

.cupimg3 {
  padding-left: 3rem;
  width: 20vh;
}

.noneimg3 {
  padding-left: 3rem;
  width: 15vh;
}
.flavorlist {
  list-style: none;
}

.quantity {
  border: solid 1px rgb(253, 248, 239);
  width: 1.6rem;
  height: 1.1rem;
  font-weight: lighter;
  border-radius: 2rem;
  text-align: center;
  background-color: rgb(253, 248, 239);
  color: rgb(106, 105, 128);
}
.shower {
  display: none;
}

#mail {
  color: rgb(70, 70, 70);
}
